main {
    padding: 1em;
  }
  
  .users .user {
    margin-bottom: 10px;
  }
  
  .role-badge {
    padding: 5px;
    margin: 0 5px;
    border-radius: 8px;
    font-size: 0.8em;
  }
  
  .role-badge.role-user {
    background-color: var(--accent-color);
  }
  
  .role-badge.role-admin {
    background-color: var(--primary-color);
    color: white;
  }